.container{
    /* border: 0.1em solid RGB(76,175,80); */
    background-color: rgb(242,242,242);
    margin-top: 80px;
    margin-left: 400px;
    margin-right: 500px;
    padding:40px;
    font-weight: bolder;
}
input{
    height: 30px;
    width:500px;
    border-color: rgb(204,204,204);
    border-width: 0.5px;
    border-style:double;
    border-radius: 3px;
}
select{
    height: 37px;
    width:509px;
    border-color: rgb(204,204,204);
    border-width: 0.5px;
    border-style:double;
    border-radius: 3px;
}
label{
    color: black;
    text-decoration: solid;
}
button{
    height: 37px;
    width:509px;
    background-color: RGB(76,175,80);
    color: aliceblue;
    border:hidden;
    border-radius: 3px;
}